# Ignorar archivos y carpetas específicos de NetBeans
frontend/nbproject/
frontend/build/
frontend/dist/
frontend/*.class

# Ignorar archivos y carpetas específicos de Visual Studio Code
backend/.vscode/
backend/node_modules/
backend/dist/
backend/*.log
frontend/cliente/target/classes/.netbeans_automatic_build
frontend/cliente/target/test-classes/.netbeans_automatic_build
