# Ignorar archivos y carpetas específicos de NetBeans
frontend/nbproject/
frontend/build/
frontend/dist/
frontend/*.class

# Ignorar archivos y carpetas específicos de Visual Studio Code
backend/.vscode/
backend/node_modules/
backend/dist/
backend/*.log
frontend/cliente/target/classes/.netbeans_automatic_build
frontend/cliente/target/test-classes/.netbeans_automatic_build
frontend/cliente/target/classes/co/edu/unicauca/mvc/vistas/articulos/VtnRegistrarArticulo$1.class
frontend/cliente/target/classes/co/edu/unicauca/mvc/vistas/articulos/VtnRegistrarArticulo$1.class
/frontend/cliente/target/classes
/frontend/cliente/target/classes
/frontend/cliente/target/classes
frontend/cliente/target/classes/co/edu/unicauca/mvc/vistas/articulos/VtnRegistrarArticulo$1.class
frontend/cliente/target/classes/co/edu/unicauca/mvc/vistas/articulos/VtnRegistrarArticulo.class
frontend/cliente/target/classes/co/edu/unicauca/services/ArticuloServices$1.class
frontend/cliente/target/classes/co/edu/unicauca/services/ArticuloServices.class
frontend/cliente/target/classes/co/edu/unicauca/services/ConferenciaServices$1.class
frontend/cliente/target/classes/co/edu/unicauca/services/ConferenciaServices.class
